matplotlib
geopandas
plotly.express
plotly
streamlit_folium
pandas 
numpy
folium
geopy 
datetime
altair==4.0
pandas
seaborn
scikit-learn
matplotlib
streamlit
h5py
standard-imghdr==3.13.0
# (or imghdr-lts==<version you installed>)
streamlit>=1.26
